body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #ab83e0, #7658e3);
    
}

.main-container {
    max-width: 800px;
    margin: 5% 20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    padding: 20px;
}

h3{
    padding-left: 10px;
}

section {
    margin: 5px;
}

label {
    display: block;
    font-weight: 500;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    background: linear-gradient(to left, #ab83e0, #7658e3);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 60%;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; 
}


select option[disabled] {
    color: #999;
}

.sub-container{
padding: 20px;
}

